
<title>Reports</title>
<style>
    body {
        width: 50%;
        margin: auto;
        text-align: center;
        margin-top: 5em;
    }
    form { padding: 5em; }
    input, button {
        font-size: 2em;
    }
</style>

<h1><a href='./list.php'>All Reports</a></h1>

<form method=GET action='search.php'>
    <input name=q />
    <button>Search</button>
</form>

<h1><a href='./add.php?report'>Add Report</a></h1>
