
header, ul, table, section { width: 50%; margin: auto; }
small { float: right; text-align: right; }

input, textarea { display: block; }
textarea { width: 100%; height: 200; }
input { width: 100%; }
form { width: 50%; margin: auto; }
button { float: right; }

@media (orientation:portrait) {
    header, form, section { width: 100%; }
    ul, table { width: 90%; }
}
